body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.function {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid rgb(7, 7, 7);
}

.hour {
  background-color: #faf606;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d66a6a;
  color: rgb(248, 10, 10);
}

.present {
  background-color: #0fdb20;
  color: rgb(8, 238, 85);
}

.future {
  background-color: #a271f1;
  color: rgb(138, 90, 228);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
